body {
     height:100%;
     margin:0;
     padding:0;
     background-color: black;
     font-family: chrisicon;
}

.container-fluid{

}
.contact{
  text-align: center;
}

.page{
  height: 70%;
}
.about{
  color: white;
}
.boom{
  height: 150px;
  width: 150px;
}
.myPortfolio{
 text-align: center;
}

div#port h1, h3{

    color: green;
    padding-top: 20px;

}


.activator{
  width: 250px;
 height: 250px;
 border-radius: 50%;
 margin: 0 auto;
 border: 7px solid #fff;
}
#andi{
  font-size: 14px;
}

.social{
  height: 36px;
  width: 40px;
}
footer, li{
  display: inline;
}
.img-circle {
        border-radius: 100%;
        width: 120px;
        height: 120px;
        border: 2px solid black;


      }



.nav-wrapper {
	background-color: #290066;
}
.page-footer{
  text-align: center;
}
.tabs{
  background-color: black;
  color: white;
}
.modal-trigger{
  color: pink;
}
