body {

     margin:0;
     padding:0;
     background-color: black;
     font-family: chrisicon;
}
h4 {
  color: white;
}

.container-fluid{

}
.contact{
  text-align: center;
}


.about{
  color: white;
}

.myPortfolio{
 text-align: center;
 height: 300px;
}




.page{
  height: 380px;
  text-align: center;
}
.social{
  height: 36px;
  width: 40px;
}
footer, li{
  display: inline;
}
.img-circle {
        border-radius: 100%;
        width: 120px;
        height: 120px;
        border: 2px solid black;
      }

.nav-wrapper {
	background-color: #290066;
}
.page-footer{
  text-align: center;

  color: white;
  height: 50px;
}
#foot{
  margin-top: 100px;
}

.tabs{
  background-color: black;
  color: white;
}
.modal-trigger{
  color: pink;
}
.modal{
  margin-top: 100px;
}
