body{
 font-family: Courier New;

}
nav {
  background-color: black;
  opacity: 0.95;
}
.about {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/keyboard2.jpeg);
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
  display: inline-block;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 80px;
}
.page-footer{
  text-align: center;
  color: #ee6e73;
  height: 50px;
  margin-top: 350px;
}
.social{
  height: 36px;
  width: 40px;
}
footer, li{
  display: inline;
}
/*body {

     margin:0;
     padding:0;
     background-color: #EDEBE4;
     font-family: chrisicon;

}
h4 {
     color: #ee6e73;
}

.top{
  height: 50px;
}
#test2{
  height: auto;
}
.contact{
  text-align: center;
}


.about{
   color: #212121;
}
.resume{
  width: 200px;
  margin-top: 150px;
  margin-left: 20px;
  color: white;
  background-color: blue;

}

.myPortfolio{
 text-align: center;
}
.card-reveal li {
  display: list-item;
}
.look{
  margin: 0;
  color: #FFFFFF;
}
.activator{
  margin-top: 20px;
  height: 300px;
  width: 200px;
}
.card.medium{
  height: 350px;
}

.page{
  height: 430px;
  text-align: center;
}

.img-circle {
        border-radius: 100%;
        width: 120px;
        height: 120px;
        border: 2px solid pink;

      }

.nav-wrapper {
	background-color: #290066;
}



.tabs {
  background-color: #303f9f;
 }
 .tabs .tab a{
   color: #FFFFFF;
 }

.modal-trigger{
color: #FFFFFF;
}
.modal{
  margin-top: 100px;
}
*/
